html {
    font-family: 'Roboto';
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    cursor: pointer;
}

.container {
    padding: 1rem;
}

.list-item {
    margin: 1rem;
}

.remove img {
    cursor: pointer;
}

.form {
    display: grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#submit {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.submit:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

div p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

::placeholder,
button {
    font-size: 16px;
}

ul {
    padding: 0;
    list-style: none;
}

.dislike,
.like {
    background-color: none;
    border: none;
}

div>ul li:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div>ul li:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

div>ul li:nth-of-type(2) button {
    margin-left: 1rem;
}

li.specific {
    display: flex;
    flex-direction: column;
}

.lists>ul {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1rem;
}

.next-topic-container div,
.discussed-topic-container div {
    margin-top: 1rem;
}

@media (min-width: 786px) {
    .form {
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
    }
    .input {
        margin-bottom: 0;
    }
}